**SETS**

In [36]:
Empnames={"Abhinav","Nirupam","Naveen","Punith","Ranjith","Hemanth"}
print(Empnames)
print(len(Empnames))

{'Nirupam', 'Hemanth', 'Naveen', 'Abhinav', 'Punith', 'Ranjith'}
6

Accessing set elements

In [37]:
for i in Empnames:
    print(i)

Nirupam
Hemanth
Naveen
Abhinav
Punith
Ranjith

In [38]:
print(i in Empnames)

True

Updating the set element, but each character in the "" will be added as a separate element in random positions

In [39]:
Empnames.update("MSD")
print(Empnames)

{'S', 'D', 'Abhinav', 'Nirupam', 'Hemanth', 'Naveen', 'M', 'Punith', 'Ranjith'}

list insertion to set

In [40]:
pg=[1,1,2,1,3,4,5,6]
Empnames.update(pg)
print(Empnames)

{1, 2, 3, 4, 5, 6, 'S', 'D', 'Abhinav', 'Nirupam', 'Hemanth', 'Naveen', 'M', 'Punith', 'Ranjith'}

add() to add a single element and update() is used to add mulitple elements into the set

In [41]:
Empnames.add("Guhan")
print(Empnames)
names=["Rohit","Guhan","Rahul"]
Empnames.update(names)
print(Empnames)

{1, 2, 3, 4, 5, 6, 'S', 'D', 'Abhinav', 'Nirupam', 'Guhan', 'Hemanth', 'Naveen', 'M', 'Punith', 'Ranjith'}
{1, 2, 3, 4, 5, 6, 'S', 'D', 'Abhinav', 'Nirupam', 'Guhan', 'Hemanth', 'Rohit', 'Rahul', 'Naveen', 'M', 'Punith', 'Ranjith'}

tuples to set

In [42]:
Empnames.update([11,12],[21,22],[11,12])
print(Empnames)
# pg1=(1,2,3,4,5,6)
# Empnames.add(pg1) # add() can add a tuple 
# print(Empnames)
# pg2=[1,2,3,4,5,6]
# Empnames.add(pg2) #add() cannot add the list
# print(Empnames)

{1, 2, 3, 4, 5, 6, 'S', 'D', 11, 12, 21, 22, 'Abhinav', 'Nirupam', 'Guhan', 'Hemanth', 'Rohit', 'Rahul', 'Naveen', 'M', 'Punith', 'Ranjith'}

fetching the elements from the set

In [44]:
print(Empnames)
Empnames.remove(11)#throws error if the element is notpresent 
print(Empnames)
Empnames.discard(11)# throws error if 11 is not present also
print(Empnames)
Empnames.pop()
print(Empnames)

{1, 2, 3, 4, 5, 6, 'S', 'D', 11, 12, 21, 22, 'Abhinav', 'Nirupam', 'Guhan', 'Hemanth', 'Rohit', 'Rahul', 'Naveen', 'M', 'Punith', 'Ranjith'}
{1, 2, 3, 4, 5, 6, 'S', 'D', 12, 21, 22, 'Abhinav', 'Nirupam', 'Guhan', 'Hemanth', 'Rohit', 'Rahul', 'Naveen', 'M', 'Punith', 'Ranjith'}
{1, 2, 3, 4, 5, 6, 'S', 'D', 12, 21, 22, 'Abhinav', 'Nirupam', 'Guhan', 'Hemanth', 'Rohit', 'Rahul', 'Naveen', 'M', 'Punith', 'Ranjith'}
{2, 3, 4, 5, 6, 'S', 'D', 12, 21, 22, 'Abhinav', 'Nirupam', 'Guhan', 'Hemanth', 'Rohit', 'Rahul', 'Naveen', 'M', 'Punith', 'Ranjith'}

some of the functions used with sets

In [47]:
a="ABCD"
print(all(a))#all() returns true if all the elements of a given iterable (List, Dictionary, Tuple, set, etc.) are True otherwise it returns False
#len() max() min(),sum(),sorted(),type()
print(any(a))#checks if any element is present in the set
salary={25000,83233,51985,321871,98512}
print(len(salary))#length of the set
print(max(salary))#max value in the set
print(min(salary))
print(sorted(salary))
print(type(salary))

True
True
5
321871
25000
[25000, 51985, 83233, 98512, 321871]
<class 'set'>

In [50]:
b={1,2}
print(id(a))
b.add(11)
print(id(b))
b.update("2")
print(id(b))

2289645466672
2289711240064
2289711240064

using frozenset to create immutable set object

In [56]:
ids=frozenset([1,2,3,4,5,6])
print(id(ids))
# ids.add(9) # error cause they are immutable
# ids.update(9) # error cause frozenset is immutable
print(id(ids))

2289711239616
2289711239616

unions,intersection,exclusive or, subtraction

In [63]:
BCA={"DBMS","C","python","c++","java"}
MCA={"C","COD","ADT","python"}
union_set=BCA.union(MCA)
print(union_set)
intersection_set=BCA.intersection(MCA)
print(intersection_set)
# exclusive_set=BCA.exclusive(MCA)
# print(exclusive_set)
diff_set=BCA.difference(MCA)
print(diff_set)
symmetric_set=BCA.symmetric_difference(MCA) #exclusive or
print(symmetric_set)

{'C', 'python', 'DBMS', 'COD', 'c++', 'java', 'ADT'}
{'C', 'python'}
{'DBMS', 'java', 'c++'}
{'COD', 'c++', 'DBMS', 'java', 'ADT'}